{% extends 'base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="{{ asset('components/buttons.css') }}">
<link rel="stylesheet" href="{{ asset('components/form.css') }}">
<link rel="stylesheet" href="{{ asset('components/product_show.css') }}">
{% endblock style %}

{% block title %}
{{ name }}
{% endblock title %}

{% block content %}
<div class="page-inner">
    <form class="centerer">
        <div class="container0 shadow">
            <div class="product-picture">
                <img class="product" alt='Vetement en lin chez UNISON'
                    src="{{ asset('images/produit/' ~ name ~ '/' ~ product_array[0]['image_name']) }}">
            </div>
            <div class="product-desc">
                <h2 class="form-bigtitle">{{name}}</h2>

                <p class="price">35.00 €</p>

                <div class="form-category">
                    <input type="radio" id="taille-XS" name="taille" value="XS">
                    <label class="button blue" for="taille-XS">XS</label>

                    <input type="radio" id="taille-S" name="taille" value="S">
                    <label class="button blue" for="taille-S">S</label>

                    <input type="radio" id="taille-M" name="taille" value="M" checked>
                    <label class="button blue" for="taille-M">M</label>

                    <input type="radio" id="taille-L" name="taille" value="L">
                    <label class="button blue" for="taille-L">L</label>

                    <input type="radio" id="taille-XL" name="taille" value="XL">
                    <label class="button blue" for="taille-XL">XL</label>

                </div>

                <div class="form-category">
                    {% for product in product_array %}
                    <input type="radio" id="couleur-{{product['color']}}" name="couleur" value="{{product['color']}}"
                        data-target="{{ asset('images/produit/' ~ name ~ '/' ~ product['image_name']) }}"
                        {% if product['color'] == product_array[0]['color'] %} checked {% endif %}>
                    <label class="button blue" for="couleur-{{product['color']}}">
                        {{product['color'] | capitalize}}
                    </label>
                    {% endfor %}

                </div>

                <h3 class="form-subtitle">Association à soutenir</h3>

                <div class="form-category slide">

                    {% for charity in charity_array %}
                    <input type="radio" id="asso{{charity['id']}}" name="association" value="{{charity['id']}}" required>
                    <label class="charityIcon button blue" for="asso{{charity['id']}}" title="{{charity['name']}}">
                        <img src="{{ asset('images/logos-transp/' ~ charity['image_name']) }}">
                    </label>
                    {% endfor %}

                </div>

                <div class="option-full">
                    <input type="submit" class="hover-full blue" value="Ajouter au panier">
                </div>
            </div>
        </div>
    </form>

    <div class="product-details shadow">
        <div>
            <h3 class="form-subtitle">Informations article</h3>

            <ul>
                <li>T-shirt par Unison</li>
                <li>Pour un coup de frais</li>
                <li>Ras du cou</li>
                <li>Manches courtes</li>
                <li>Logo brodé</li>
            </ul>
        </div>

        <div>
            <h3 class="form-subtitle">Marque</h3>

            <ul>
                <li>Unison, une association en cours de création, souhaite pouvoir vendre ses produits sur Internet afin
                    de reverser de l'argent à des associations</li>
            </ul>
        </div>

        <div>
            <h3 class="form-subtitle">À propos de moi</h3>

            <ul>
                <li>Jersey doux respirant</li>
                <li>Tissu style t-shirt</li>
                <li>Matière principale : 100% coton ?</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>

    function getClikedCheckbox() {
        var checkboxes = document.getElementsByName('couleur');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                return checkboxes[i]
            }
        }
        // Should be impossible
        return null
    }

    function getProductImage() {
        return document.querySelector('img.product')
    }

    function addCheckboxListener() {
        var checkboxes = document.getElementsByName('couleur')
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('click', changeProductImage)
        }

    }

    function changeProductImage() {
        var checked = getClikedCheckbox()
        var image = getProductImage()

        image.src = checked.getAttribute('data-target');
    }

    document.addEventListener('DOMContentLoaded', function () {
        addCheckboxListener();
    })
</script>
{% endblock script %}