<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ asset('layouts/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('layouts/template.css') }}">
        <link rel="stylesheet" href="{{ asset('layouts/containers.css') }}">
        <link rel="stylesheet" href="{{ asset('layouts/grid.css') }}">
        <link rel="stylesheet" href="{{ asset('components/shadows.css') }}">
        <link rel="stylesheet" href="{{ asset('components/buttons.css') }}">
        {% block style %}

        {% endblock %}
        <title>
            {% block title %} test
            {% endblock %} - Unison
        </title>

    </head>

    <body>
        {% include 'header.html.twig' %}
        <main>
            {% block content %}

            {% endblock %}
        </main>
        {% include 'footer.html.twig' %}
        <script src="{{ asset('js/common.js') }}"></script>
        <script src="{{ asset('js/error.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                loadDefaultImg("{{ asset('images/produit/no_image.jpg') }}")
            })    
        </script>
        {% block script %}

        {% endblock %}
    </body>

</html>