<header class="shadow">
    <div class="upper-header">
        <div class="test" style='justify-content: flex-start;'>
            <a class="logo" style='color: white;' href="{{ path('home_index') }}">UNISON</a>
        </div>
        <div class="test">
            <input type="search" style='width: 256px;'>
        </div>
        <div class="test" style='justify-content: flex-end;'>
            <a class="icon" href="{{ path('app_login') }}"><img src="{{ asset('images/icones-transp/icone-compte.png') }}"></a>
            <a class="icon" href="{{ path('basket_index') }}"><img src="{{ asset('images/icones-transp/icone-panier.png') }}"></a>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="{{ path('learnmore_index') }}">
                    À propos de nous
                </a>
            </li>
            <li>
                <a href="{{ path('charity_index') }}">
                    Associations
                </a>
            </li>
            <li>
                <a href="{{ path('product_index') }}">
                    Vêtements
                </a>
            </li>
        </ul>
    </nav>
</header>